<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit</title>
    <link rel="stylesheet" href="/css/style.css" media="screen">
  </head>
  <body>
    <h3>Edit Todo</h3>
    <div class="new-form">
      <form action="/posts/<%=post.id%>" method="post">
        <label for="title"></label>
        <label for="post[author]">Your Name</label>
        <input type="text" name="post[author]" value="<%=post.author%>">
        <input type="text" name="post[title]" value="<%=post.title%>" required>
        <label for="description"></label>
        <textarea name="post[description]" rows="8" cols="10"
         required><%= post.description %></textarea>
        <button type="submit">Update Post</button>
      </form>
    </div>
  </body>
</html>
