<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New</title>
  </head>
  <body>
    <h3>New Todo</h3>
    <form action="/todo">
      <input type="text" name="todo[name]" value="">
      <textarea name="todo[content]" rows="8" cols="10"></textarea>
      <button type="submit">Create</button>
    </form>
  </body>
</html>
